# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log
.terraform.lock.hcl

# Python
__pycache__/
*.pyc
.venv/
venv/

# OS / editors
.DS_Store
.idea/
.vscode/
*.swp
